
body{
  background-color: #EEEEEE;
  font-family: 'Aldrich', sans-serif;
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.head{
  width: 100%;
  background-color: white;
  color: #545454;
}

.header{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.box{
  position: relative;
  margin-top: 50px;
  background-color: white;
  height: 500px;
  box-shadow: 0px 7px 15px 2px #DADADA;
}

.nav{
  list-style: none;
  width: 100%;
}

.nav li{
  float: left;
  padding: 5px 10px 5px 10px;
  width: 33.33%;
  text-align: center;
  background-color: white;
  height: 40px;
  vertical-align: center;
  line-height: 30px;
}

.nav li:hover{
  cursor: pointer;
  background-color: #1DCD7A;
  color: white;
}

.focus{
  background-color: #1DCD7A !important;
  color: white;
}

.bg-green{
  height: 420px;
  background-color: white;
  color: black;
}


.flex-container{
  display: flex;
  width: 130%;
}

.flex-item-1{
  width: 20%;
  line-height: 40px;
}

.flex-item-2{
  width: 60%;
  line-height: 40px;
}


.offline{
  color: black;
  background-color: #E6B552;
}
.online{
  color: black;
  background-color: #4AAEEE;
}
.nada{
  color: white;
  background-color: #E04E4E;
}

.img{
  height: 70px;
}

#td{
  padding-left: 10px; 
}

.online i{
  color: green;
}

.offline i{
  color: red;
}

.tb a {
  color: black;
  text-decoration: none;
}

.tb a:hover{
  color: white;
}

.trans{
  position: relative;
  width: 100%;
  height: 100%;
}

.loader {
  position: absolute;
  top: 30%;
  left: 38%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); 
    border-top: 16px solid #E52B2B; 
    border-bottom: 16px solid #FFEC60; }
  50% {
    border-top: 16px solid #FFEC60;
    border-bottom: 16px solid #E52B2B; 
  }
  100% { -webkit-transform: rotate(360deg); 
    border-top: 16px solid #E52B2B; 
    border-bottom: 16px solid #FFEC60; }
}

@keyframes spin {
  0% { transform: rotate(0deg); 
    border-top: 16px solid #E52B2B; 
    border-bottom: 16px solid #FFEC60;}
  50%{
    border-top: 16px solid #FFEC60;
    border-bottom: 16px solid #E52B2B;
  }
  100% { transform: rotate(360deg); 
    border-top: 16px solid #E52B2B; 
    border-bottom: 16px solid #FFEC60; }
}

.portfolio{
  margin-top: 20px;
  color: #E52B2B;
}

.portfolio a{
  text-decoration: none;
  color: #E52B2B;
}

.portfolio a:hover{
  color: #1DCD7A;
}

table{
  margin-top: -1px;
}