
body{
  background-color: #EEEEEE;
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.head{
  width: 100%;
  background-color: white;
  color: #545454;
}

.header{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.box{
  position: relative;
  margin-top: 50px;
  background-color: white;
  height: 500px;
  box-shadow: 0px 7px 15px 2px #DADADA;
}

.nav{
  list-style: none;
  width: 100%;
}

.nav li{
  float: left;
  padding: 5px 10px 5px 10px;
  width: 33.33%;
  text-align: center;
  background-color: white;
  height: 40px;
  vertical-align: center;
  line-height: 30px;
}

.nav li:hover{
  cursor: pointer;
  background-color: #1DCD7A;
  color: white;
}

.focus{
  background-color: #1DCD7A !important;
  color: white;
}

.bg-green{
  height: 420px;
  background-color: white;
  color: black;
}


.flex-container{
  display: flex;
  width: 130%;
}

.flex-item-1{
  width: 20%;
  line-height: 40px;
}

.flex-item-2{
  width: 60%;
  line-height: 40px;
}


.offline{
  color: black;
  background-color: #E6B552;
}
.online{
  color: black;
  background-color: #4AAEEE;
}
.nada{
  color: white;
  background-color: #E04E4E;
}

.img{
  height: 70px;
}